@use 'primeicons/primeicons.css';
@use 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
    --color-primary: #c26d55;
    --color-primary-dark: #a85a44;
    --color-primary-light: #d4856f;

    --color-secondary: #8fa18b;
    --color-secondary-dark: #778874;
    --color-secondary-light: #a6b8a2;

    --shadow-card:
        0 -1px 3px 0 rgb(0 0 0 / 0.04), 0 4px 6px -1px rgb(0 0 0 / 0.07),
        0 2px 4px -2px rgb(0 0 0 / 0.05);

    --shadow-card-hover:
        0 -2px 4px 0 rgb(0 0 0 / 0.05), 0 10px 15px -3px rgb(0 0 0 / 0.08),
        0 4px 6px -4px rgb(0 0 0 / 0.05);
}

.p-inputnumber-input {
    min-width: 0;
}
